<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% @recipes.all.each do |recipe| %>
    <div>
      <h2><a href="/recipes/<%= recipe.id %>">Recipe Name: <%= recipe.name %></a></h2>
      <h3>Recipe Ingredient: <%= recipe.ingredients %></h3>
      <h3>Cook Time: <%= recipe.cook_time %></h3>
      <hr>
    </div>
  <% end  %>
</body>
</html>
