<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Recipe: <%= @recipe.name %> </h2>
  <p>Recipe Ingredients: <%= @recipe.ingredients %></p>
  <p>Cook Time: <%= @recipe.cook_time %> minutes</p>

  <form action="/recipes/<%=@recipe.id%>" method = 'post'>
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
  </form>

</body>
</html>
