<ul>
  <li> <%= @recipe.name%> </li>
  <li><%= @recipe.ingredients %> </li>
  <li><%= @recipe.cook_time %> minutes </li>
</ul>

<form method="POST" action="/recipes/<%=@recipe.id%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="delete" />
</form>
